body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    }

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
    border: none;
}

legend {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="number"] {
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 16px;
    margin-bottom: 20px;
}

button {
    background-color: #4d64e4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#resultado {
    font-size: 39px;
    margin-top: 20px;
color: rgb(37, 145, 11);
background: rgb(0, 0, 0);
border-radius: 50px;
}

#salvarBtn {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

#salvarBtn:hover {
    background-color: #006b24;
}

.aviso {
    color: #f00;
    font-size: 26px;
    margin-top: 20px;
    background: rgb(0, 0, 0);
    border-radius: 50px;
}

.buckets {
    padding: 2em 1em 1em;
    background: #000000;
}

.buckets ul {
    margin: 0;
    padding: 0;
}

.buckets li {
    margin-bottom: 1em;
    background: white;
    list-style-type: none;
}

.bucket {
    padding: 1.5em;
    text-align: center; /* Centraliza o conteúdo */
}

img {
    max-width: 50%;
    height: 30vw;
    display: block;
    margin: 0 auto; /* Centraliza a imagem horizontalmente */
    /* Adicionar margem superior para mover a imagem para cima */
}

button[type="reset"] {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px; /* Adiciona uma margem à direita para separar os botões */
}

button[type="reset"]:hover {
    background-color: #ff8800;
}

 /* Estilos para dispositivos de tela média a grande */
 @media screen and (min-width: 768px) {
    .sidebar {
        width: 30%;
    }

    .main-content {
        width: 70%;
    }
}

/* Estilos para dispositivos de tela grande */
@media screen and (min-width: 992px) {
    .sidebar {
        width: 20%;
    }

    .main-content {
        width: 80%;
    }
}